{{extends "layouts/sidebar.gohtml"}}
{{define "Sidebar"}}Search FILTERS{{end}}
{{define "MainContent"}}
    <div>Search RESULTS</div>
    {{template "component/echo.gohtml" "Test ECHO message"}}
{{end}}